#splashLogo {
    height: 10em;
    width: 10em;
    margin-top: 40vh;
}

#nameLogo {
    height: 4em;
    width: 4em;
}

body {
    background-image: url("http://i.imgur.com/uCeeRt1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
