#splashLogo {
    height: 25em;
    width: 25em;
}

#nameLogo {
    height: 4em;
    width: 4em;
}

#splash {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin-top: 35vh;
    /*border-style: solid;
    border-width: .4em;
    border-color: white;*/
    /*border-color: #FFD700; this is the logo yellow color*/
}

#splashName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10em;
}

.white {
    background-color: white;
}

.fixedNav {
    position: fixed;
}

.blog-icon {
    height: 1.3em;
    width: 1.3em;
}

#box {
    border-style: solid;
    border-width: medium;
    border-color: black;
}

#projectImg {
    border-radius: 50%;
    border-width: thin;
    border-style: solid;
}

body {
    background-image: url("images/splashreverse.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*overflow: hidden;*/
    /*position: fixed;*/
}

.inline {
    display: inline;
}
