<nav class="container">
    <div class="container container-fluid fixedNav">
        <img id="nameLogo" class="inline" src="images/logo.png" alt="">
        <!-- <p class="inline">Luke McCrae</p> -->

        <nav class="pull-right inline">
            <button href="/" type="button" ui-sref="home" class="btn btn-default">Home</button>
            <button type="button" ui-sref="project" class="btn btn-default">Projects</button>
            <button type="button" ui-sref="contact" class="btn btn-default">Contact</button>
            <button type="button" ui-sref="blog" class="btn btn-default">Blog</button>

        </nav>
    </div>
    </div>
</nav>

<div style="margin-top: 5em;" class="">
    <div id="box" class="white col-md-6 col-md-offset-2">
        <div class="inline" ng-repeat="post in $ctrl.posts[0].data.post | orderBy:$ctrl.post.id">
            <h2 id="blogTitle" class="image-heading"></h2>
            <div class="media-left">
                <a ng-click="post.show = !post.show">
                    <h2>{{post.title}}</h2>
                </a>
                <span><img class="blog-icon" src="images/calendar.png" alt=""> {{post.date}}</span>
                <span><img class="blog-icon" src="images/person.png" alt=""> {{post.author}}</span>
                <span><img class="blog-icon" src="images/comment.png" alt=""> {{post.comments_num}}</span>
                <span><i>{{post.topic}}</i></span>
                <div class="media-body">
                    <p>{{post.summary}}</p>
                </div>
            </div>
            <div ng-show="post.show" class="">
                <img style="display: block;" height="100" width="100" src="{{post.image_url}}" alt=""> {{post.content}}
                <button style="display: block;" type="button" class="btn" ng-click="post.show = !post.show" name="button">Show Less</button>
            </div>
        </div>
    </div>
</div>

<!-- <img height="120" width="120" src="{{post.image_url}}" class="media-object"> -->
