<nav class="container">
    <div class="container container-fluid fixedNav">
        <img id="nameLogo" class="inline" src="images/logo.png" alt="">
        <!-- <p class="inline">Luke McCrae</p> -->

        <nav class="pull-right inline">
            <button href="/" type="button" ui-sref="home" class="btn btn-default">Home</button>
            <button type="button" ui-sref="project" class="btn btn-default">Projects</button>
            <button type="button" ui-sref="contact" class="btn btn-default">Contact</button>
            <button type="button" ui-sref="blog" class="btn btn-default">Blog</button>

        </nav>
    </div>
    </div>
</nav>


<div style="margin-top: 5em;" class="">
    <div class="white col-md-6 col-md-offset-2">
        <div class="" ng-repeat="contact in $ctrl.contacts">
            <h2 class="image-heading"></h2>
            <div class="media-left">
                <a href="{{contact.link}}">
                    <img height="120" width="120" src="{{contact.image_url}}" class="media-object">
                </a>
                <p>{{contact.name}}</p>
                <div class="media-body">
                    <p>{{contact.description}}</p>
                </div>

            </div>
        </div>
    </div>
</div>
