<nav ng-click="$ctrl.showNav = !$ctrl.showNav" class="navbar navbar-default">
    <div class="container container-fluid">
        <img id="nameLogo" src="images/logo.jpg" alt="">
        <p class="">Luke McCrae</p>

        <nav class="pull-right">
            <button href="/" type="button" ui-sref="home" class="btn btn-default">Home</button>
            <button type="button" ui-sref="project" class="btn btn-default">Projects</button>
            <button type="button" ui-sref="contact" class="btn btn-default">Contact</button>

        </nav>
    </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-8">
        <img id="splashLogo" class="center-block" ui-sref="project" class="center-block" src="images/logo.jpg" alt="">
        <h1 class="text-center">Luke McCrae FULL STACK WEB DEVELOPER</h1>
        <h1 class="text-center"></h1>
    </div>

</div>
